version: '3.1'

services:
  my-registry:
    image: registry:2.6.2
    volumes:
      - registry:/var/lib/registry
    ports:
      - "55000:5000"
    restart: unless-stopped  

volumes:
  registry:
  
#http://192.168.99.100:55000/v2/_catalog 
#http://192.168.99.100:55000/v2/primeapi/tags/list
#docker info 

#docker-machine ssh
#sudo vi /var/lib/boot2docker/profile
#To enter vi, type: vi filename <Return>
#To enter insert mode, type: i.
#Type in the text: This is easy.
#To leave insert mode and return to command mode, press: <Esc>
#In command mode, save changes and exit vi by typing: :wq <Return>

#Add this line to the EXTRA_ARGS var:
#--insecure-registry=192.168.99.100:55000
#exit
#docker-machine restart
